.main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 16px;
}

.card-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 400px;
}

ion-card {
  width: 100%;
  max-width: 350px;
}

.pokemon-image {
  width: 80%;
  max-width: 250px;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.nav-icon {
  font-size: 48px;
}

.spinner-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-title.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-container span {
  line-height: 2;
}

.title-icon {
  height: 28px;
  width: auto;
  margin-left: 10px;
}

.toolbar-pokeball{
  height: 28px;
  width: auto;
  margin-bottom: -6px;
  margin-left: 15px;
}
