<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Favorites
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-text-center ion-padding" *ngIf="isLoading">
    <ion-spinner name="bubbles"></ion-spinner>
  </div>

  <div *ngIf="!isLoading && favoritePokemons.length === 0" class="ion-padding ion-text-center empty-message">
    <ion-text>
      <h2>No favorites yet</h2>
      <p>Go to Pokedex and click on the heart to choose your favorite Pokemon!</p>
    </ion-text>
  </div>

  <ion-list *ngIf="!isLoading && favoritePokemons.length > 0">
    <ion-item *ngFor="let pokemon of favoritePokemons" [routerLink]="['/tabs/details', pokemon.name]" button detail>
      <ion-avatar slot="start">
        <img [src]="pokemon.sprites.other['official-artwork'].front_default" [alt]="pokemon.name" />
      </ion-avatar>
      <ion-label class="ion-text-capitalize">
        <h2>{{ pokemon.name }}</h2>
        <p>Height: {{ pokemon.height * 10 }} cm, Weight: {{ pokemon.weight / 10 }} kg</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
