<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">{{ pokemon?.name || 'Details' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-text-center ion-padding" *ngIf="isLoading">
    <ion-spinner name="bubbles"></ion-spinner>
  </div>

  <div *ngIf="!isLoading && pokemon">
    <ion-card>
      <img [src]="pokemon.sprites.versions['generation-v']['black-white'].animated.front_default" [alt]="pokemon.name" class="main-image"/>

      <ion-card-header>
        <ion-card-title class="ion-text-capitalize ion-text-center">{{ pokemon.name }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <div class="ion-text-center ion-margin-bottom">
          <ion-chip *ngFor="let typeInfo of pokemon.types" [color]="typeInfo.type.name">
            <ion-label>{{ typeInfo.type.name }}</ion-label>
          </ion-chip>
        </div>

        <ion-grid>
          <ion-row>
            <ion-col size="6">Height: <strong>{{ pokemon.height * 10 }} cm</strong></ion-col>
            <ion-col size="6">Weight: <strong>{{ pokemon.weight / 10 }} kg</strong></ion-col>
          </ion-row>
        </ion-grid>

        <h4 class="ion-padding-start">Abilities</h4>
        <ul>
          <li *ngFor="let abilityInfo of pokemon.abilities" class="ion-text-capitalize">{{ abilityInfo.ability.name }}</li>
        </ul>

        <h4 class="ion-padding-start">Base Stats</h4>
        <div *ngFor="let statInfo of pokemon.stats" class="ion-padding-horizontal">
          <ion-label class="ion-text-capitalize">{{ statInfo.stat.name }}: {{ statInfo.base_stat }}</ion-label>
          <ion-progress-bar [value]="statInfo.base_stat / 255" color="primary"></ion-progress-bar>
        </div>

        <h4 class="ion-padding-start ion-margin-top">Sprite Gallery</h4>
        <ion-grid class="ion-text-center">
          <ion-row>
            <ion-col><img [src]="pokemon.sprites.front_default" alt="Front Sprite"></ion-col>
            <ion-col><img [src]="pokemon.sprites.back_default" alt="Back Sprite"></ion-col>
            <ion-col><img [src]="pokemon.sprites.front_shiny" alt="Front Shiny Sprite"></ion-col>
            <ion-col><img [src]="pokemon.sprites.back_shiny" alt="Back Shiny Sprite"></ion-col>
          </ion-row>
        </ion-grid>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
